;

  
  /*                        background                          */
  
  
  *{
    margin:0;
    padding:0;
  }
  body {
    
    display: grid;
    height: 100vh;
    place-items: center;
  }
  
 
.container{
  
  
  border-radius: 20px; 
  background-image: linear-gradient(to right,
   #c3d17c, #b6d38d, #add49d, #a8d4ac,
    #a8d3b8, #9bd1c1, #92cfcb, #8ecbd3,
     #83c3e3, #92b7ec, #b3a7e6, #d793ce);
     transition: all 200ms;
  max-width: 450px; 
 
}
/* @media (min-width: 400px) {
  .container {
    display: flex;
  }
} */
  
.title
{
  margin-top: 2rem;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 3rem;
display:flex;
justify-content: center;
text-align: center;
}
.kanniga
{
  margin-top: 2rem;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 1rem;
display:flex;
justify-content: flex-end;
text-align: center;
}
  .content{
    display:flex;
    flex-direction:column;
    margin-left: 0.5rem; 
    
       
  }
  .getname
  {
    color:red;  
    text-transform: capitalize;
    font-family :serif;
  }
  .getbrand
  {
    color :yellow;
    text-transform: capitalize;
    font-style: oblique;
  }
  .getprice
  {
    text-transform: capitalize;
    font-family :cursive;
    color:blue;
  }
  .getimage
  {
    height:200px;
    width : 50%;
    border-radius: 1rem;
    margin-left: 4rem;
  }

  .getproductlink
  {    
    color:rgb(104, 40, 40);
    font-style: oblique;
  }
  .getdescription
  {
       font-size: 14px;; 
   color:brown;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .container:hover .getimage 
  {
    transform: scale(1.2);
  }
  button
  {
    border-radius: 2rem;
    background-color:navy;
    margin-left: 5rem;;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    width:45%;
    color: white;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
  }
 